<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179039261317-erhskiqrrv22pi9o5n8dl96r4nv9kf1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179039261317-erhskiqrrv22pi9o5n8dl96r4nv9kf1d</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Ds5oewhncOuXvzvSty-9uhTSbRQ0v2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>179039261317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohammed.DatingApp</string>
	<key>PROJECT_ID</key>
	<string>datingapp-d2a92</string>
	<key>STORAGE_BUCKET</key>
	<string>datingapp-d2a92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179039261317:ios:75ed5fe7d41daa1232cfec</string>
</dict>
</plist>